@import 'base';



/*********************
        MENU 
*********************/

.left-menu {
    position: absolute;
    left: 0;
    top:0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

    .top {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 68px;
        color: white;
        background: linear-gradient(180deg, #e49f4a, #EE7A3A 100%);
        font-size:30px;
        line-height: 35px;
        font-weight: 700;
    }

    .nav {  

        li {
            display: flex;
            align-items: center;
            color: #725C5C;
            width: 220px;
            height: 35px;
            padding-left:30px;
            font-family: 'Quicksand';
            font-weight: 600;
            font-size: 15px;
            line-height: 19px;
            border-bottom: 1px solid rgba(179, 179, 179, 0.15);
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35);
            
            span {
                position: absolute;
                left:0;
                top: 49.80%;
                right: 97.73%;
                bottom: 5.71%;
                width: 5px;
                height: 33px;

                background: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
            }
        }
        
    }
}

/*********************
        HEADER
*********************/

.header {
    display: block;
    justify-content: center;
    width: 1146px;
    height: 68px;
    margin-left: 261px;
    margin-bottom: 20px;
    padding: 10px;

    h3{
        font-family: 'Roboto';
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
        color: #725C5C;

    }
    span {
        font-family: 'Roboto';
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #725C5C;
    }
    
    .container {
        display: flex;
        justify-content:flex-end;
        position: absolute;
        left: 1100px;
        top: 20px;

        .language {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 107px;
            height: 34px;
            padding: 15px;
            margin-right: 120px;
            border: 1px solid #CCCCCC;
            box-sizing: border-box;
            border-radius: 3px;

            .lang-icon {
                width: 20px;
            }
            .dropdown {
                width: 10px;
            }
        }

        .login {
            width: 202px;
            height: 34px;
            font-family: 'Quicksand';
            font-weight: normal;
            font-size: 14px;
            line-height: 15px;            
            text-align: right;
            color: #333333;
            border: none;

            .person {
                border-radius: 50px;
                position: absolute;
                left: 101.05%;
                right: 3.3%;
                top: 6.48%;
                bottom: 27.48%;                
            }
            .notification {
                position: absolute;
                left: 105.81%;
                right: 53.14%;
                top: 6%;
                bottom: 57.35%;
            }
        }
    }

}

