* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Quicksand';
}

/*********************
        MENU 
*********************/
.left-menu {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.left-menu .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  height: 68px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#e49f4a), to(#EE7A3A));
  background: linear-gradient(180deg, #e49f4a, #EE7A3A 100%);
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
}

.left-menu .nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #725C5C;
  width: 220px;
  height: 35px;
  padding-left: 30px;
  font-family: 'Quicksand';
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  border-bottom: 1px solid rgba(179, 179, 179, 0.15);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35);
}

.left-menu .nav li span {
  position: absolute;
  left: 0;
  top: 49.80%;
  right: 97.73%;
  bottom: 5.71%;
  width: 5px;
  height: 33px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFB455), to(#ED7839));
  background: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
}

/*********************
        HEADER
*********************/
.header {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1146px;
  height: 68px;
  margin-left: 261px;
  margin-bottom: 20px;
  padding: 10px;
}

.header h3 {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #725C5C;
}

.header span {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #725C5C;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  left: 1100px;
  top: 20px;
}

.header .container .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 107px;
  height: 34px;
  padding: 15px;
  margin-right: 120px;
  border: 1px solid #CCCCCC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
}

.header .container .language .lang-icon {
  width: 20px;
}

.header .container .language .dropdown {
  width: 10px;
}

.header .container .login {
  width: 202px;
  height: 34px;
  font-family: 'Quicksand';
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  text-align: right;
  color: #333333;
  border: none;
}

.header .container .login .person {
  border-radius: 50px;
  position: absolute;
  left: 101.05%;
  right: 3.3%;
  top: 6.48%;
  bottom: 27.48%;
}

.header .container .login .notification {
  position: absolute;
  left: 105.81%;
  right: 53.14%;
  top: 6%;
  bottom: 57.35%;
}
/*# sourceMappingURL=main.css.map */