@import 'base';



/*********************
        MENU 
*********************/

.left-menu {
    position: absolute;
    left: 0;
    top:0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

    .top {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 68px;
        color: white;
        background: linear-gradient(180deg, #e49f4a, #EE7A3A 100%);
        font-size:30px;
        line-height: 35px;
        font-weight: 700;
    }

    .nav {  

        li {
            display: flex;
            align-items: center;
            color: #725C5C;
            width: 220px;
            height: 35px;
            padding-left:30px;
            font-family: 'Quicksand';
            font-weight: 600;
            font-size: 15px;
            line-height: 19px;
            border-bottom: 1px solid rgba(179, 179, 179, 0.15);
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35);
            
            span {
                position: absolute;
                left:0;
                top: 49.80%;
                right: 97.73%;
                bottom: 5.71%;
                width: 5px;
                height: 33px;

                background: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
            }
        }
        
    }
}

/*********************
        HEADER
*********************/

.header {
    display: block;
    justify-content: center;
    width: 1146px;
    height: 68px;
    margin-left: 261px;
    margin-bottom: 20px;
    padding: 10px;

    h3{
        font-family: 'Roboto';
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
        color: #725C5C;

    }
    span {
        font-family: 'Roboto';
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #725C5C;
    }
    
    .container {
        display: flex;
        position: absolute;
        left: 1360px;
        top: 20px;

        .language {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 107px;
            height: 34px;
            padding: 15px;
            margin-right: 120px;
            border: 1px solid #CCCCCC;
            box-sizing: border-box;
            border-radius: 3px;

            .lang-icon {
                width: 20px;
            }
            .dropdown {
                width: 10px;
            }
        }

        .login {
            width: 202px;
            height: 34px;
            font-family: 'Quicksand';
            font-weight: normal;
            font-size: 14px;
            line-height: 15px;            
            text-align: right;
            color: #333333;
            border: none;

            .person {
                border-radius: 50px;
                position: absolute;
                left: 101.05%;
                right: 3.3%;
                top: 6.48%;
                bottom: 27.48%;                
            }
            .notification {
                position: absolute;
                left: 105.81%;
                right: 53.14%;
                top: 6%;
                bottom: 57.35%;
            }
        }
    }

}

/*********************
        CONTENT
*********************/

.start {
    display: flex;
    margin-top: 30px;
    margin-left: 300px;
    font-family: 'Roboto';

    .title{
        font-weight: 900;
        font-size: 20px;
        line-height: 25px;        
        letter-spacing: 0.05em;
        color:$color-primary;
        margin-right: 600px;
    }
    button  {
        margin: 3px;
    }
    .download {
        width: 100px;
        height: 37px;
        background-color: $color-primary;
        border-radius: 4px;
        color: white;
        border:none;
        font-weight: 500;
        font-size: 16px;
    }
    .fav {
        width: 50px;
        height: 37px;
        background-color: $color-primary;
        border-radius: 4px;
        color: white;
        border:none;
    }
    .doi {
        width: 50px;
        height: 37px;
        background-color: $color-primary;
        border-radius: 4px;
        color: white;
        border:none;
    }
    .quote {
        position: absolute;
        width: 225px;
        height: 25px;
        left: 1610px;
        right: 0px;
        top: 143px;
        font-weight: 500;
        font-size: 14px;
        line-height: 25px;
        text-align: right;
        letter-spacing: 0.05em;
        color: $color-primary;
    }

    .video {
        position: absolute;
        width: 783px;
        height: 439px;
        left: 270px;
        top: 163px;
        background: rgba(141, 53, 6, 0.178);
        border-radius: 3px;
    }

    .subtitle {
        width:734px;
        height: 54px;
        position: absolute;
        left: 294px;
        right: 291px;
        top: 188px;
        color: white;
        font-weight: 900;
        font-size: 24px;
        line-height: 25px;
        letter-spacing: 0.05em;
    }

    .Scott {
        position: absolute;
        left: 15.45%;
        right: 5.45%;
        top: 48.95%;
        bottom: 4.95%;
    }

    .bea {
        position: absolute;
        height: 36px;
        left: 400px;
        right: 473px;
        top: 474px;
    
        font-weight: 900;
        font-size: 34px;
        line-height: 25px;
        letter-spacing: 0.05em;
        color: white;
    }
    .uni {
        position: absolute;
        height: 27px;
        left: 401px;
        right: 506px;
        top: 509px;
        
        font-weight: 900;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.05em;
        color: white;
    }

    .detail {
        position: absolute;
        width: 242px;
        height: 439px;
        left: 1566px;
        top: 183px; 
        background: #FDF1EB;
        border: 2px solid #ECECEC;
        border-radius: 3px 3px 0px 0px;
        color: #4e4e4e;

        h4 {
            border-bottom: 1px solid #ECECEC;
            font-family: 'Roboto';
            font-weight: 500;
            font-size: 20px;
            line-height: 25px;
            display: flex;
            align-items: center;
            padding: 10px 5px;
        
        }

        p {
            padding: 15px 15px;
        }

        .presentation {
            font-family: 'Quicksand';
            font-weight: normal;
            font-size: 13px;
            line-height: 14px;
            letter-spacing: 0.02em;            
        }

        .autors {
            font-size: 16px;
            font-weight: 400;
            line-height: 22,75px;
        }

        .Unis {
            font-size: 12px;
            color: #4e4e4eb6;
        }

        span {
            font-weight: 700;
            font-size: 14px;
            line-height: 16,8px;
        }
    }
}










/*********************
        FOOTER
*********************/
footer {
    position: absolute;
    width:1086px;
    left: 14%;
    right: 0%;
    bottom: 0%;
    

    background: url(footer.png);
}







